.About {
    background-color: #D0C8C0;
    height: -webkit-fill-available; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.nameA {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    position: relative;
}

.standAloneA {
    font-weight: 400;
    color: #998877;
}

.titleA {
    font-weight: 700;
    color: slategray;
    font-size: 42px;
    text-align: center;
    margin-bottom: 1%;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}

.mainA {
    color: #778899;
    font-style: italic;
    font-size: 32px;
    text-align: center;
    padding: 25px 100px;
}

.secondaryA {
    justify-content: flex-end;
    width: 100vw;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.secondaryTextA {
    color: #778899;
    font-size: 24px;
    text-align: center;
    padding: 25px 100px;
    height: min-content;
}

.profileImageA {
    background-image: url('/assets/Milkyway_Panorama\ True.jpg');
    height: -webkit-fill-available; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 10vw;
    border: none;
    border-radius: 5px;
    padding: 20px;
    height: 275px;
    width: 13%;
    display: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.profileImageA:hover {
    background-color: slategray!important;
    background-image: none;
}

.imageDivA {
    justify-content: center;
    display: flex;
}

.extLinkA {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/assets/Milkyway_Panorama\ True.jpg');
    height: -webkit-fill-available; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    border-radius: 5px;
    margin-bottom: 40%;
    padding: 20px;
    width: 300px;
    height: 50px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
    text-align: center;
    color: #D0C8C0;
    font-size: 36px;
    font-weight: 700;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.extLinkA:hover {
    background-color: slategray!important;
    background-image: none;
    color: #998877;
    cursor: pointer;
    text-shadow: 
    1px 0px 1px #ccc, 0px 1px 1px #eee, 
    2px 1px 1px #ccc, 1px 2px 1px #eee,
    3px 2px 1px #ccc, 2px 3px 1px #eee,
    4px 3px 1px #ccc, 3px 4px 1px #eee,
    5px 4px 1px #ccc, 4px 5px 1px #eee,
    6px 5px 1px #ccc, 5px 6px 1px #eee,
    7px 6px 1px #ccc;
}
