.About {
    background-color: #D0C8C0;
    height: 90vh; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.nameA {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    position: relative;
}

.standAloneA {
    font-weight: 400;
    color: #998877;
}

.titleA {
    font-weight: 700;
    color: slategray;
    font-size: 2em;
    text-align: center;
    margin-bottom: 1%;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}

.mainA {
    color: #778899;
    font-style: italic;
    font-size: 1.6em;
    text-align: center;
    padding: 3% 8%;
    margin-bottom: 1%;
}

.secondaryA {
    width: 100vw;
}

.profileImageA {
    background-image: url('/assets/Milkyway_Panorama\ True.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    border-radius: 5%;
    padding: 2%;
    height: auto;
    width: 12%;
    display: inline-flex;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.profileImageA:hover {
    background-color: slategray!important;
    background-image: none;
}

.imageDivA {
    justify-content: center;
    display: inline-flex;
}

@media only screen and (max-width: 600px) {

    .profileImageA {
        background-size: 100% 100%;
        background-attachment: inherit;
        background-position: center;
        background-repeat: no-repeat;
        padding: 5%;
        width: 32%;
        height: 100%;
    }

    .mainA {
        font-size: 1.4em;
        margin-bottom: 4%;
    }
    
}