.Home {
    background-image: url('/assets/Milkyway_Panorama\ True.jpg');
    height: 90vh; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.social {
    margin: 5px;
    fill: #D0C8C0;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.social:hover {
    fill: slategray!important;
    cursor: pointer;
}

li {
    margin: 0 5px 5px 0;
}

.downButton {
    font-size: 32px;
    color: #778899;
    padding-right: 2%;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    display: flex;
    width: min-content;
    margin: 0 auto;
  }

  .down {
    animation-name: down;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  @keyframes down {
  0%   {padding-bottom: 25px}
  25%   {padding-bottom: 50px}
  50%   {padding-bottom: 25px}
  75%   {padding-bottom: 50px}
  100%   {padding-bottom: 25px}
}
  
  .downButton:hover {
    color: #998877!important;
    cursor: pointer;
  }