.Home {
    background-image: url('/assets/Milkyway_Panorama\ True.jpg');
    height: 90vh; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.intro {
    color: #998877;
    font-weight: 700;
    font-size: 42px;
    padding-left: 2%;
    text-align: left;
}

.standAlone {
    font-weight: 800;
    color: slategray;
    font-size: 48px;
}

.name {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    margin: 1% 1% 1% 2%;
    position: relative;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 1%;
    position: sticky;
}

.downer {
    position: absolute;
    display: flex;
    align-self: flex-end;
    width: 100vw;
}

.social {
    margin: 5px;
    fill: #D0C8C0;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.social:hover {
    fill: slategray!important;
    cursor: pointer;
}

li {
    margin: 0 5px 5px 0;
}

.downButton {
    font-size: 32px;
    color: #778899;
    padding-right: 2%;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    display: flex;
    width: min-content;
    margin: 0 auto;
  }

  .down {
    animation-name: down;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  @keyframes down {
  0%   {padding-bottom: 25px}
  25%   {padding-bottom: 50px}
  50%   {padding-bottom: 25px}
  75%   {padding-bottom: 50px}
  100%   {padding-bottom: 25px}
}
  
  .downButton:hover {
    color: #998877!important;
    cursor: pointer;
  }

  @media only screen and (max-width: 600px) {

    .Home {
        background-size: auto 100%;
    }
    
    .intro {
        font-size: 36px;
        padding-left: 2%;
    }
    
    .standAlone {
        font-size: 42px;
    }
  }