.Contact {
    background-image: url('/assets/Milkyway_Panorama\ True.jpg');
    height: 100vh; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.social {
    margin: 5px;
    fill: #D0C8C0;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.social:hover {
    fill: slategray!important;
    cursor: pointer;
}

li {
    margin: 0 5px 5px 0;
}

.upButton {
    font-size: 32px;
    color: #778899;
    padding-right: 2%;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    display: flex;
    width: min-content;
    margin: 0 auto;
  }

  .up {
    animation-name: up;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  @keyframes up {
  0%   {padding-top: 25px}
  25%   {padding-top: 50px}
  50%   {padding-top: 25px}
  75%   {padding-top: 50px}
  100%   {padding-top: 25px}
}
  
  .upButton:hover {
    color: #998877!important;
    cursor: pointer;
  }

  form {
    background: #D0C8C0;
      padding: 15px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      border-radius: 5px;
      display: flex;
      flex-direction: column;
  }

  label {
    color: black;
    font-size: 20px;
    font-weight: 700;
    margin: 1%;
    padding: 1%;
  }

  input {
    border: none;
    font-size: 18px;
    margin: 1%;
    border-radius: 2.5px;
    width: -webkit-fill-available;
    padding: 10px 20px;
  }

  .submit {
      background-color: #778899;
      border-radius: 2.5px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      color: white;
      font-size: 18px;
      font-weight: 700;
      margin: 1%;
    padding: 2%;
    font-family: 'Montserrat', sans-serif;
    border: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    opacity: .8;
    width: min-content;
    display: flex;
    align-self: center;
  }

  .submit:hover {
      opacity: 1;
      color: black;
      cursor: pointer;
  }